.notas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1rem;
}

.nota-card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.4px);
  -webkit-backdrop-filter: blur(11.4px);
  border: 1px solid rgba(255, 255, 255, 0.29);
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nota-card h3 {
  margin-top: 0;
}

.nota-card a {
  text-decoration: none;
  color: #afc7e2;
}

@media only screen and (max-width: 480px) {
  .notas-grid {
    grid-template-columns: 1fr; /* una sola columna */
    gap: 0.75rem;
    padding: 0 10px; /* opcional para evitar bordes pegados */
  }

  .nota-card {
    padding: 0.75rem;
    font-size: 14px;
  }

  .nota-card h3 {
    font-size: 16px;
  }

  .nota-card a {
    font-size: 14px;
  }
}
