<h2>🖊 Editar Nota</h2>

<form (ngSubmit)="actualizar()" *ngIf="nota" #form="ngForm">
  <label>
    Título:
    <input type="text" [(ngModel)]="nota.titulo" name="titulo" required />
  </label>
  <br /><br />

  <div class="nota-container">
    <label for="nota">Nota:</label>
    <textarea
      id="nota"
      name="nota"
      [(ngModel)]="nota.nota"
      rows="4"
      cols="30"
      required
    ></textarea>
  </div>

  <br /><br />
  <div class="actions">
    <button type="submit" [disabled]="form.invalid">Actualizar</button>
    <button type="button" (click)="eliminar()">🗑 Eliminar</button>
  </div>

  <p *ngIf="error" style="color: red">{{ error }}</p>
</form>
